<p class="indicator pull-right" *ngIf="isProcessing">
  <span class="fa fa-cogs"></span>
</p>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#" *ngIf="!selectedBook" (click)="add()">Add</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" *ngIf="selectedBook" (click)="remove()">Remove</a>
  </li>
</ul>

<app-books-search *ngIf="!editedBook" (search)="refreshBooks($event)"></app-books-search>

<app-book-form *ngIf="editedBook" [book]="editedBook" (canceled)="reset()" (saved)="save($event)">
</app-book-form>

<div class="row justify-content-around books">
  <app-book-card *ngFor="let book of books" [book]="book" [isSelected]="isSelected(book)" (selected)="select($event)">
    <app-rating [rating]="book.rating" book-body></app-rating>
  </app-book-card>
</div>
