<div class="card book" (click)="select()" [style.borderBottomColor]="book.category">
  <img src="http://placehold.it/320x240" alt="Cover">
  <ng-content select="[book-header]"></ng-content>
  <div class="card-body">
    <h4 class="card-title truncate" [class.selected]="isSelected">{{book.title}}</h4>
    <p class="card-text truncate" [ngStyle]="authorsStyle" appHighlight color="blue">{{book.authors}}</p>
    <ng-content select="[book-body]"></ng-content>
  </div>
  <ng-content select="[book-footer]"></ng-content>
  <small class="text-center m-1" *ngIf="book.bestseller">Bestseller</small>
</div>
