<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span *appRepeat="3">*</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" navigation>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="books/panel" routerLinkActive="active-menu">Books panel</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="books/list" routerLinkActive="active-menu">Books list</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <select class="form-control" (change)="setLanguage($event.target.value)">
        <option value="en">En</option>
        <option value="pl">Pl</option>
      </select>
    </form>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

