.book-form {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 4px;
}

.books {
  padding: 20px;
}

.book {
  width: 320px;
  min-height: 400px;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.selected {
  color: #d33a36;
}

button {
  margin: 8px 8px 4px 0;
}

.container {
  margin-top: 20px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
